@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#757473;
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: all .2s linear;
    line-height: 1.5;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: white;
    padding-left: 30rem;
}

section{
    padding:1rem 5%;
    min-height: 100vh;
}

.heading{
    font-size: 4rem;
    padding-bottom: 1rem;
    color:#111;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 10px;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}
header{
    position: fixed;
    top:0; left:0; bottom:0;
    background:#222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding:8rem 2rem;
    width:30rem;
    text-align: center;
}

header .logo{
    width: 50px;
    height: 50px;
}


header .navbar a{
    display: block;
    font-size: 2rem;
    color:#fff;
    margin:2rem 0;
}

header .navbar a:hover{
    letter-spacing: .2rem;
    color:var(--main-color);
}

header .follow a{
    font-size: 2.5rem;
    color:#fff;
    margin:0 .7rem;
}

header .follow a:hover{
    color:var(--main-color);
}

.home-img {
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.home .content {
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#menu-bars{
    position: fixed;
    top:1rem; right: 1rem;
    z-index: 10000;
    background:var(--main-color);
    color:#fff;
    border-radius: .5rem;
    padding:1rem 1.5rem;
    font-size: 3rem;
    cursor:pointer;
    display: none;
}

.cursor-1{
    position: absolute;
    top:0; left:0;
    height:1rem; width:1rem;
    background: var(--main-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
}

.cursor-1.active{
    height:3rem;
    width:3rem;
    opacity: .3;
}

.cursor-2{
    position: absolute;
    top:0; left:0;
    height:3rem; width:3rem;
    border:.1rem solid var(--main-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
    transition: .1s linear;
}

.cursor-2.active{
    display: none;
}

.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.home .image{
    flex:1 1 40rem;
}

.home .image img{
    width:100%;
}

.home .content{
    flex:1 1 40rem;
}

.home .content .hi{
    font-size: 2rem;
    color:var(--main-color);
}

.home .content h3{
    font-size: 4.5rem;
    color:#111;
    text-transform: uppercase;
}

.home .content h3 span{
    color:var(--main-color);
    text-transform: uppercase;
}

.home .content .info{
    font-size: 2.5rem;
    color:#111;
    padding:.5rem 0;
}

.home .content .text{
    font-size: 1.7rem;
    color:#666;
    padding:.5rem 0;
}

.about .row-1{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-bottom: 2rem;
}

.about .row-1 .image{
    flex:1 1 25rem;
}

.about .row-1 .image img{
    height: 100%;
    width:100%;
    object-fit: cover;
    border:1rem solid #fff;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border: 1px solid red;
}

.about .row-1 .content{
    flex:1 1 50rem;
}

.about .row-1 .content h3{
    color:#333;
    font-size: 3.5rem;
}

.about .row-1 .content p{
    color:#666;
    font-size: 1.7rem;
    padding:.5rem 0;
}

.about .row-1 .content .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding: 0.5rem 0;
}

.about .row-1 .content .box-container .box{
    flex:1 1 20rem;
}

.about .row-1 .content .box-container .box span{
    color:var(--main-color);
}

.about .row-2{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}

.about .row-2 .skills{
    flex:1 1 40rem;
}

.about .row-2 .skills .progress{
    padding:1rem 0;
}

.about .row-2 .skills .progress h3{
    display: flex;
    justify-content: space-between;
    padding:.7rem 0;
    font-size: 1.7rem;
    color:#111;
    font-weight: 400;
}

.about .row-2 .skills .progress .bar{
    width:100%;
    background:#ccc;
    overflow:hidden;
    height:1rem;
    border-radius: 50rem;
}

.about .row-2 .skills .progress .bar span{
    display:block;
    height:100%;
    background:var(--main-color);
    border-radius: 50rem;
}

.about .row-2 .skills .progress:nth-child(1) .bar span{
    width:95%;
}

.about .row-2 .skills .progress:nth-child(2) .bar span{
    width:80%;
}

.about .row-2 .skills .progress:nth-child(3) .bar span{
    width:75%;
}

.about .row-2 .skills .progress:nth-child(4) .bar span{
    width:85%;
}

.about .row-2 .box-container{
    flex:1 1 40rem;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.about .row-2 .box-container .box{
    flex:1 1 15rem;
    background:#fff;
    padding:2rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.about .row-2 .box-container .box h3{
    color:var(--main-color);
    font-size: 3rem;
}

.about .row-2 .box-container .box p{
    color:#666;
    font-size: 1.7rem;
    padding-top: .5rem;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}


@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}



/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }
    
    body{
        padding: 0;
    }

    #menu-bars{
        display: initial;
    }

    header{
        left:-120%;
    }

    header.active{
        left:0%;
    }

    .cursor-1,
    .cursor-2{
        display: none;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    header{
        width:100%;
    }

    .experience .box-container .box{
        padding-right: 0;
    }

}
  header > *:nth-child(1) {
    animation: slide-in-top 1s ease forwards .1s;
  }
  
  header > *:nth-child(2) {
    animation: slide-in-top 1s ease forwards .2s;
  }
  
  header > *:nth-child(3) {
    animation: slide-in-top 1s ease forwards .3s;
  }
  
  @keyframes slide-in-top {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .Stats-card {
    width: 200px;
    height: 160px;
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .Stats-card h2, .Stats-card p{
    z-index: 1;
    color: rgb(84, 83, 83);
    font-size: 1.7em;
  }
  
  .Stats-card::before {
    content: '';
    position: absolute;
    width: 130px;
    background-image: linear-gradient(150deg, rgb(245, 247, 248), rgb(144, 143, 144));
    height: 170%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .Stats-card::after {
    content: '';
    position: absolute;
    background: #fffffe;
    ;
    inset: 5px;
    border-radius: 17px;
  }  
  .Stats-card:hover:before {
    background-image: linear-gradient(180deg, rgb(4, 203, 253), rgb(254, 1, 1));
    animation: rotBGimg 3.5s linear infinite;
  }
  .stats .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    /* border: 1px solid palevioletred; */
    justify-content: space-between;
}
.stats{
    /* border: 1px solid black; */
    margin: auto;
    padding: 4.5rem;
}

.Skills-card {
    position: relative;
    width: 160px;
    height: 70px;
    background: rgb(115, 116, 115);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .Skills-card::before,
  .Skills-card::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(238, 241, 241);
    transition: all 0.5s;
  }
  
  .Skills-card::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
  }
  
  .Skills-card::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 15px;
  }
  
  .Skills-card:hover::before,
  .Skills-card:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 13px;
    transition: all 0.3s;
  }
  
  .Skills-card:hover:after {
    content: "Tech Stack";
    color: black;
  }
.About-button {
    /* margin: 0; */
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    margin-top: 5px;
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #898a8a;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: black;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  .About-button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }

  #resume-link-1 {
    padding: 0.3em 0.8em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    color: transparent;
    border: 3px solid white;
    font-size: 13px;
    position: relative;
    font-family: inherit;
    background: transparent;
    margin-bottom: 20px;
   }
   
   #resume-link-1::before {
    content: "Resume";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #363636;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
   }
   
   #resume-link-1:hover::before {
    left: 100%;
    transform: scale(0) rotateY(360deg);
    opacity: 0;
   }
   
   #resume-link-1::after {
    content: "Resume";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #363636;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    transform: scale(0) rotateY(0deg);
    opacity: 0;
   }
   
   #resume-link-1:hover::after {
    left: 0;
    transform: scale(1) rotateY(360deg);
    opacity: 1;
   }

   .common-btn {
    padding: 0.5em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #f8f6f6;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #373737;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
    
   }
   
   .common-btn:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #fcfcfc;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
   }
   
   .common-btn:hover {
    background-color: #161717;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
   }
   
   .common-btn:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
   }
   
   .common-btn:active {
    transform: scale(0.9);
   }
   